*.pyc
*.pyo
*.bak
__pycache__/
api/init.sql
tags
.DS_Store
tmp
nginx.conf
python_env
docker/deploy_back
docker/deploy_front
docker/dbdata/
docker/docker-compose.yml
api/.coverage
api/htmlcov
api/core/env.py
api/public/static/rest_framework_swagger/
api/public/static/rest_framework/
api/public/static/admin/
api/public/htmlcov/
api/public/media/
api/public/clients/
client/node_modules/
client/coverage/
client/build/
client/dist/
client/ssl/
client/.cache/
client/logfile
client/extension.zip
client/yarn-error.log
vclien
